	.button{
		text-align:center;
		width:400px;
		heigth:300px;
		border:3px solid red;
		padding:12px;
	}
	.button input{
		width:80px;
		height:40px;
		background-color:#FF0000;
		border-radius:20px;
		box-shadow:4px 3px 2px 1px #CCC;
		
	}
.button input:hover{
		width:80px;
		height:40px;
		background-color:#06C;
		border-radius:20px;
		box-shadow:4px 3px 2px 1px #CCC;
		cursor:pointer;
	}

